* {
    font-family: "GohuFont uni11 Nerd Font", "Noto Sans CJK KR", "Noto Sans CJK JP", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#custom-cava {
    font-size: 17px;
    margin-right: 10px;
}
